<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dbapp.ashworth.clerkapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- Insert your app key after “db-  ...” -->
                <data android:scheme="db-z6i1bl31h3yvj1y" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UploadToDropboxActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartNewTaskActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".AddPhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPhotosActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".StartNewTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPhotosActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_view_photos"
            android:parentActivityName=".AddPhotosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dbapp.ashworth.clerkapp.AddPhotosActivity" />
        </activity>
        <activity
            android:name=".CheckpointsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".AddPhotosActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".FingerSignActivity"></activity>
    </application>

</manifest>